{{ define "title"}} Server Manager: admin {{ end }}

{{ define "sources"}} 
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
	<script type="text/javascript" defer src="/static/javascript/admin.js"></script>
{{ end }}

{{ define "header" }}{{ end }}

{{ define "main"}} 
<main>
	<h1>LoThone</h1>
	<section class="card">
		<h2>Admin panel Login</h2>
		<div class="login-card">
			<form class="form" action="/admin/login" method="POST">
				<input hidden type="hidden" name="{{ .CSRFTokenName }}" value="{{ .CSRFToken }}">
				<div class="input">
					<input class="inputField" type="text" name="username" placeholder="username" required>
				</div>
				<div class="input">
					<input class="inputField" type="password" name="password" placeholder="password" required>
				</div>
				<div class="input">
					<input class="button" id="loginBtn" type="submit" value="Login">
				</div>
			</form>
		</div>
	</section>
</main>
{{ end }}

{{ define "footer"}} 
<footer>
	<p>&copy;2024 LoThone All rights reserved.</p>
</footer>
{{ end }}
