{{ define "title"}} Server Manager: admin {{ end }}

{{ define "sources"}}
<link as="style" rel="preload" href="/static/{{ .Version }}/css/admin.css">
<link as="script" rel="preload" href="/static/{{ .Version }}/javascript/admin.js">

<!-- dashboard javascript prefetch -->
<link as="script" rel="prefetch" href="/static/{{ .Version }}/javascript/dashboard.js">
<link as="script" rel="prefetch" href="/static/{{ .Version }}/javascript/qrcode.min.js">

<!-- dashboard svg images prefetch -->
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/refresh_button.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/chevron_down.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/edit_button.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/qr_button.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/trash_bin_button.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/cancel_cross.svg">
<link as="image" rel="prefetch" href="/static/{{ .Version }}/images/lothone.png">

<!-- dashboard style prefetch -->
<link as="style" rel="prefetch" type="text/css" href="/static/{{ .Version }}/css/dashboard.css">

<link rel="icon" type="image/png" href="/static/{{ .Version }}/images/lothone.png">
<link rel="stylesheet" type="text/css" href="/static/{{ .Version }}/css/admin.css">
<script type="text/javascript" defer src="/static/{{ .Version }}/javascript/admin.js"></script>
{{ end }}

{{ define "header" }}{{ end }}

{{ define "main"}}
<main>
	<h1 title="logo">
		<img id="logo" src="/static/{{ .Version }}/images/lothone.png" alt="lothone logo">
	</h1>
	<section class="card">
		<h2>Admin panel Login</h2>
		<div class="login-card">
			<form class="form" action="/admin/login" method="POST">
				<input hidden type="hidden" name="{{ .CSRFTokenName }}" value="{{ .CSRFToken }}">
				<div class="input">
					<input class="inputField" type="text" name="username" placeholder="username" required>
				</div>
				<div class="input">
					<input class="inputField" type="password" name="password" placeholder="password" required>
				</div>
				<div class="input">
					<input class="button" id="loginBtn" type="submit" value="Login">
				</div>
			</form>
		</div>
	</section>
</main>
{{ end }}

{{ define "footer"}}
<footer>
	<p>
		&copy;2024 LoThone All rights reserved.
		<br>
		Version {{ .Version }}
	</p>
</footer>
{{ end }}
