{{ define "title"}} Server Manager: dashboard {{ end }}

{{ define "sources"}}
<link rel="stylesheet" type="text/css" href="/static/v0.2.0-beta/css/dashboard.css">
<!-- Load QRCode library with SVG support first -->
<script type="text/javascript" src="/static/v0.2.0-beta/javascript/qrcode.min.js" defer></script>
<!-- Then load your dashboard script -->
<script type="text/javascript" src="/static/v0.2.0-beta/javascript/dashboard.js" defer></script>
{{ end }}

{{ define "header" }}{{ end }}

{{ define "main"}}
<main>
	<section class="table">
		<div class="users__heading">
			<h1>Users List</h1>
			<button id="userRefreshBtn" class="button" title="click to refresh">
				<svg fill="#000000" viewBox="0 0 489.645 489.645" xml:space="preserve">
					<g>
						<path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3
							c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5
							c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8
							c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2
							C414.856,432.511,548.256,314.811,460.656,132.911z" />
					</g>
				</svg>
			</button>
		</div>
		<div id="searchInputContainer">
			<label for="searchInput"><span class="nowrap">Filter users with:</span></label>
			<input list="autocompletes" placeholder="Usernames, UUIDs, Dates, etc..." type="search" id="searchInput">
		</div>
		<datalist id="autocompletes">
			{{ range $_, $client := .Clients }}
			<option value="{{ $client.Username }}"></option>
			{{ end }}
		</datalist>
		<p>*click the number of users to copy the text config.</p>
		<table id="userTable" class="user-table">
			<thead>
				<tr>
					<th>Number</th>
					<th>Username</th>
					<th>Device UUID</th>
					<th>Server UUID</th>
					<th>Start date</th>
					<th>Expire date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{ range $index, $client := .Clients }}
				<tr class="selectUser">
					<td data-cell="Number" data-value="{{ $index }}">
						<button title="click to copy config" type="button" class="copyBtn">
							{{ $index }}
						</button>
					</td>
					<td data-cell="Username" data-value="{{ $client.Username }}">{{ $client.Username }}</td>
					<td data-cell="Device UUID"><span class="wrap">{{ $client.DeviceId }}</span></td>
					<td data-cell="Server UUID" data-value="{{ $client.Id }}"><span class="wrap">{{ $client.Id }}</span>
					</td>
					<td data-cell="Start date"><span class="nowrap">{{ $client.StartDate }}</span></td>
					<td data-cell="Expire date"><span class="nowrap">{{ $client.ExpireDate }}</span></td>
					<td data-cell="Actions">
						<div class="actions-container">
							<button class="show-actions-btn" data-buttonValue="show actions">
								Actions
								<svg fill="#000000" version="1.1" id="Layer_1" viewBox="0 0 386.257 386.257"
									xml:space="preserve">
									<polygon points="0,96.879 193.129,289.379 386.257,96.879 " />
								</svg>
							</button>
							<div class="actions">
								<button type="button" class="action-btn edit-btn editBtn" title="Edit User"
									data-buttonValue="edit user">
									<svg viewBox="0 0 24 24">
										<g id="Complete">
											<g id="edit">
												<g>
													<path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8"
														fill="none" stroke="#0D47A1" stroke-linecap="round"
														stroke-linejoin="round" stroke-width="2" />
													<polygon fill="none"
														points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
														stroke="#0D47A1" stroke-linecap="round" stroke-linejoin="round"
														stroke-width="2" />

												</g>
											</g>
										</g>
									</svg>
								</button>
								<button type="button" class="action-btn qr-btn generateQRBtn" title="Generate QR Code"
									data-buttonValue="generate qr">
									<svg viewBox="0 0 24 24" fill="none">
										<path d="M12.38 3.88V10.88H19.38V3.88H12.38ZM17.88 9.38H13.88V5.38H17.88V9.38Z"
											fill="#00695C" />
										<path d="M3.88 10.88H10.88V3.88H3.88V10.88ZM5.38 5.38H9.38V9.38H5.38V5.38Z"
											fill="#00695C" />
										<path d="M3.88 19.38H10.88V12.38H3.88V19.38ZM5.38 13.88H9.38V17.88H5.38V13.88Z"
											fill="#00695C" />
										<path d="M14.13 12.38H12.38V14.13H14.13V12.38Z" fill="#00695C" />
										<path d="M17.63 12.38H15.88V14.13H17.63V12.38Z" fill="#00695C" />
										<path d="M15.88 14.13H14.13V15.88H15.88V14.13Z" fill="#00695C" />
										<path d="M19.38 14.13H17.63V15.88H19.38V14.13Z" fill="#00695C" />
										<path d="M14.13 15.88H12.38V17.63H14.13V15.88Z" fill="#00695C" />
										<path d="M17.63 15.88H15.88V17.63H17.63V15.88Z" fill="#00695C" />
										<path d="M15.88 17.63H14.13V19.38H15.88V17.63Z" fill="#00695C" />
										<path d="M19.38 17.63H17.63V19.38H19.38V17.63Z" fill="#00695C" />
									</svg>
								</button>
								<button type="button" class="action-btn delete-btn deleteBtn" title="Delete User"
									data-buttonValue="delete user">
									<svg fill="#FF2800" version="1.1" id="Capa_1" viewBox="0 0 41.336 41.336"
										xml:space="preserve">
										<g>
											<path d="M36.335,5.668h-8.167V1.5c0-0.828-0.672-1.5-1.5-1.5h-12c-0.828,0-1.5,0.672-1.5,1.5v4.168H5.001c-1.104,0-2,0.896-2,2
		s0.896,2,2,2h2.001v29.168c0,1.381,1.119,2.5,2.5,2.5h22.332c1.381,0,2.5-1.119,2.5-2.5V9.668h2.001c1.104,0,2-0.896,2-2
		S37.438,5.668,36.335,5.668z M14.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5
		s1.5,0.672,1.5,1.5V35.67z M22.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5
		s1.5,0.672,1.5,1.5V35.67z M25.168,5.668h-9V3h9V5.668z M30.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21
		c0-0.828,0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5V35.67z" />
										</g>
									</svg>
								</button>
							</div>
						</div>
					</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	</section>

	<hr>

	<section class="options">
		<div class="server-information table">
			<div class="serverInfo">
				<h2>Server Information</h2>
				<button id="serverIPRefreshBtn" class="button" title="click to refresh">
					<svg fill="#000000" viewBox="0 0 489.645 489.645" xml:space="preserve">
						<g>
							<path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3
								c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5
								c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8
								c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2
								C414.856,432.511,548.256,314.811,460.656,132.911z" />
						</g>
					</svg>
				</button>
			</div>
			<table>
				<thead>
					<tr>
						<th>Region</th>
						<th>V2ray Server IP</th>
						<th>V2ray Server Port</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-cell="Region">Singapore</td>
						<td id="serverIP" data-cell="V2ray Server IP">{{ .ServerIP }}</td>
						<td id="v2rayServerPort" data-cell="V2ray Server Port" data-port="{{ .V2rayServerPort }}">
							{{ .V2rayServerPort }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="server-options">
			<h2>Server options</h2>
			<button class="button openBtn" id="serverRestartModalBtn">Restart Server</button>
			<dialog class="modal" id="modal">
				<div class="modal__heading">
					<h3>Restart V2ray server</h3>
					<button class="closeModalBtn">
						<svg viewBox="0 0 64 64">
							<path id="times"
								d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
							<path
								d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
						</svg>
					</button>
				</div>
				<div class="modal__items">
					<span>This will take a second.</span>
					<form class="modalForm restart_form" id="restartForm">
						<input id="adminUsername" placeholder="admin username" name="adminUsername" type="text"
							required>
						<input id="adminPassword" placeholder="admin password" name="adminPassword" type="password"
							required>
						<input hidden id="CSRFToken" type="hidden" name="{{ .CSRFTokenName }}" value="{{ .CSRFToken }}">
					</form>
					<div class="restartModalButtons">
						<button id="serverRestartBtn" class="button">Confirm</button>
						<button class="closeModalBtn">Cancel</button>
					</div>
				</div>
			</dialog>
		</div>
		<hr>

		<!-- delete user modal -->
		<dialog class="modal" id="deleteUserModal">
			<div class="modal__heading">
				<h3>Delete user</h3>
				<button class="closeModalBtn">
					<svg viewBox="0 0 64 64">
						<path id="times"
							d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
						<path
							d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
					</svg>
				</button>
			</div>
			<div class="modal__items">
				<span>
					To delete user "<span id="userToBeDeleted"></span>",
					<br>
					type in username and last 4 digits of server uuid
				</span>
				<form id="userDeleteForm" class="modalForm" action="/admin/accounts/delete" method="POST">
					<div hidden>
						<input type="hidden" name="{{ .CSRFTokenName }}" value="{{ .CSRFToken }}">
					</div>
					<div hidden>
						<input id="userNumberToBeDeleted" type="hidden" min="0" name="userNumber" required>
					</div>
					<div>
						<input id="usernameToBeDeleted" type="text" name="username" autocomplete="off" required>
					</div>
					<div>
						<input id="serverUUIDToBeDeleted" type="text" name="serverUUID" autocomplete="off" required>
					</div>
				</form>
				<div class="restartModalButtons">
					<button type="button" id="deleteUserModalBtn" class="button">Delete</button>
					<button type="button" class="closeModalBtn">Cancel</button>
				</div>
			</div>
		</dialog>

		<!-- qr type choose modal -->
		<dialog class="modal" id="generateUserQRModal">
			<div class="modal__heading">
				<h3>Generate QR</h3>
				<button class="closeModalBtn">
					<svg viewBox="0 0 64 64">
						<path id="times"
							d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
						<path
							d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
					</svg>
				</button>
			</div>
			<div class="modal__items">
				<span>Choose type of QR.</span>
				<div class="restartModalButtons">
					<div hidden id="qrUserNumber"></div>
					<button type="button" id="openQRBtn" class="button open">Opened</button>
					<button type="button" id="deviceLockedQRBtn" class="button close">Locked</button>
				</div>
			</div>
		</dialog>

		<div class="user-options">
			<h2>User options</h2>
			<div class="create_container">
				<h3>Create new user</h3>
				<form action="/admin/accounts" method="POST">
					<input hidden type="hidden" name="{{ .CSRFTokenName }}" value="{{ .CSRFToken }}">
					<div class="date_input">
						<label for="formStartDate">start date</label>
						<input id="formStartDate" type="date" name="startDate" required>
					</div>
					<div class="date_input">
						<label for="formExpireDate">expire date</label>
						<input id="formExpireDate" type="date" name="expireDate" required>
					</div>
					<div>
						<input id="usernameInput" type="text" name="username" placeholder="username" required>
					</div>
					<div>
						<input id="deviceUUID" type="text" name="deviceUUID" placeholder="device uuid"
							value="00000000-0000-0000-0000-000000000000" required>
					</div>
					<div>
						<input id="serverUUID" type="text" name="serverUUID" placeholder="server uuid" required>
					</div>
					<div class="buttons">
						<button type="button" id="uuidManualButton" class="button">Add uuid manually</button>
						<button type="submit" class="button">Create</button>
					</div>
				</form>
			</div>
		</div>
		<hr>
		<div class="qr-options">

			<!-- qr code display modal -->
			<dialog class="modal" id="qrModal">
				<div class="modal__heading">
					<h2>QR code</h2>
					<button class="closeModalBtn" id="closeQrModalBtn">
						<svg viewBox="0 0 64 64">
							<path id="times"
								d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
							<path
								d="M32.033,29.19l15.55,-15.55l2.863,2.863l-15.55,15.55l15.55,15.55l-2.863,2.863l-15.55,-15.55l-15.55,15.55l-2.863,-2.863l15.55,-15.55l-15.55,-15.55l2.863,-2.863l15.55,15.55Z" />
						</svg>
					</button>
				</div>
				<div id="qrContainer">
					<p>
						<span id="qrUsername"></span>
					</p>
					<div id="qrCode"></div>
					<p>
						<span id="qrRemarks"></span>
					</p>
				</div>
				<div class="downloadBtnContainer">
					<button id="downloadQRBtn" class="closeModalBtn button">Download</button>
				</div>
			</dialog>
		</div>
	</section>
</main>
{{ end }}

{{ define "footer"}}
<footer>
	<p>
		<span class="wrap">QR codes are guaranteed to work seamlessly with V2Box application.</span>
		<br>
		<span class="nowrap">&copy; 2024 LoThone. All rights reserved.</span>
		<span class="nowrap wrap-point">Unauthorized use and/or duplication of this material</span>
		<span class="nowrap">without express and written permission</span>
		<span class="nowrap">from this site’s owner is strictly prohibited</span>
		<span class="nowrap">Version 0.2.0-beta</span>
	</p>
</footer>
{{ end }}
