[Unit]
Description=v2ray server-manager
After=network.target

[Service]
Type=simple
ExecStart=/path/to/project-root/server-manager-bin/server-manager  --admin="admin@lothone.shop" --adminpw="774c8f08-f500-49c2-a00b-68de23aa0070" --configfile="" --userfile="" --hostip="" --hostname="" --v2rayport="443" --webcert="" --webkey="" --webport=":8080" --gotifyapikeys="," --gotifyserver="" --lockoutduration="" --sessionduration=""
Restart=on-failure
RestartSec=5
User=root
Group=root
WorkingDirectory=/path/to/project-root
#ExecStartPre=/usr/bin/some-command  # Optional: Run config v2ray server config checking.
StandardOutput=journal
StandardError=journal
LimitNOFILE=4096
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
